---
type Props = {
  menus: {
    href: string;
    text: string;
  }[];
  socials: {
    href: string;
    icon: string;
  }[];
};
const { menus, socials } = Astro.props;
import Logo from "../Logo/index.astro";
---

<header class="header">
  <div class="container-fluid">
    <div class="header-content">
      <div class="header-left">
        <Logo />
        <ul class="menus">
          {
            menus.map((item) => (
              <li>
                <a href={item.href} target="_blank">
                  {item.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <ul class="socials">
        {
          socials.map((item) => (
            <li>
              <a set:html={item.icon} href={item.href} />
            </li>
          ))
        }
      </ul>
      <button class="header-button js-toggle-expand">
        <span class="line1"></span>
        <span class="line2"></span>
      </button>
    </div>
  </div>
</header>

<style lang="scss">
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .header-left {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }
  .menus {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    a {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 400;
      color: black;
    }
  }
  .socials {
    display: flex;
    align-items: center;
    gap: 2rem;
    a {
      font-size: 2.2rem;
    }
  }
  .header-button {
    display: none;

    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    z-index: 1000;
    appearance: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    span {
      content: "";
      height: 2.5px;
      width: 30px;
      position: absolute;
      top: 50%;
      background-color: rgb(0, 0, 0);
      right: 1rem;
      transition: transform 0.3s ease-in-out;
    }
    .line1 {
      transform: translateY(-150%);
    }
    .line2 {
      transform: translateY(150%);
    }
    &:hover{
        span{
              background-color:var(--color-primary)
        }
        .line1{
            transform:translateY(150%)
        }
        .line2{
             transform:translateY(-150%)
        }
    }
  }
  :global(.expand) {
    .header-button {
      .line1 {
       transform: translateY(0) rotate(135deg);
      }

      .line2 {
       transform: translateY(0) rotate(-135deg);
      }
    }
  }

  @media (max-width: 75em) {
    /* 1200px */
    .socials,
    .menus {
      display: none;
    }
    .header-button {
      display: block;
    }
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggleButtons = document.querySelectorAll(".js-toggle-expand");

    toggleButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        document.documentElement.classList.toggle("expand");
      });
    });
  });
</script>
