---
type Props = {
  menus: {
    href: string;
    text: string;
  }[];
  socials: {
    href: string;
    icon: string;
  }[];
};
const { menus, socials } = Astro.props;
import Logo from "../Logo/index.astro";
---

<header class="header">
  <div class="container-fluid">
    <div class="header-content">
      <ul class="menus">
        <li>
          <Logo />
        </li>
        {
          menus.map((item) => (
            <li>
              <a href={item.href} target="_blank">
                {item.text}
              </a>
            </li>
          ))
        }
      </ul>
      <ul class="socials">
        {
          socials.map((item) => (
            <li>
              <a set:html={item.icon} href={item.href} />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</header>

<style lang="scss">
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .menus {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    a{
        font-size: 1.6rem;
        text-transform: uppercase;
  font-weight: 400;
  color: black;
    }
  }
  .socials {
    display: flex;
    align-items: center;
    gap: 2rem;
    a{
        font-size: 2.2rem;
    }
    
  }

</style>
