---

---
<section>
    <div class="container">
        <h3>Can our chicken change the world? We think so.</h3>
        <p>Chicken today seems to have all sorts of confusing labels and claims. But 100 years ago, it was just called chicken. Naturally rich with old school flavor. That’s Pasturebird.</p>
        <a href="" class="button">Shop Now</a>
    </div>
</section>
<style>
    section{
        background: #fdfaf5;
        padding: 3rem 0 2rem;
    }
    h3{
        font-weight: bold;
        font-size: 4.2rem;
       margin-bottom: 3rem;
       line-height: 1.2;
    }
    p{
        font-size: 1.8rem;
    }
    .button{
        background: var(--color-primary);
        color: white;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        padding: 2rem;
        border-radius: 4rem;
        font-weight: bold;
        font-size: 1.5rem;
    }
</style>