---

---

<section>
  <div class="container">
    <h3 class="h3">
      <span>Better chicken comes down to</span> daily movement to fresh pasture.
    </h3>
  </div>
</section>
<style lang="scss">
  section {
    background-color: #c3d7d9;
    padding: 8rem 0;
  }
  .h3 {
    text-align: center;
    font-weight: 800;
    font-size: 3.2rem;
    color: #ae733b;
    span {
      color: var(--color-text);
    }
  }
</style>
