---
---
<section>
    <div class="container">
 <h3>
        “This is the best chicken I've ever had, and <span>I used to work at Chick-Fil-A.</span>” — Rebekah 
    </h3>
    </div>
   
</section>
<style lang="scss" >
section{
    background: var(--bg2);
    padding: 10rem 0;
}
h3{
    text-align: center;
    color: var(--color-text);
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: bold;

    span{
        color: var(--color-secondary);
    }
}
</style>