---
---
<section>
    <div class="container">
        <p>Let us acknowledge that regenerative wisdom is Indigenous wisdom. Let us remember that our grasslands and soils are not passed down from our ancestors, they are loaned to us by our future grandchildren. Let us honor the animals under our care and stewardship, and </p>
        <h3>leave agriculture better than we found it.</h3>
    </div>
</section>
<style>
    section{
        padding: 8rem 0;
        background: var(--color-primary);
        color: white;
        text-align: center;
    }
    h3 {
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: bold;
    margin: 1rem;
  }
</style>