---

---

<section>
  <div class="container">
    <h3>THIS IS TRULY PASTURE RAISED CHICKEN</h3>
    <p>
      Our birds are raised outside on pasture 24/7/365 where they can forage for
      grasses, bugs, seeds, and worms. They move to fresh pasture every single
      day, and we've never given them a single antibiotic or drug.
    </p>
    <p>
      We're a family farm that believes in the regenerative power of pasture
      raised livestock for land, animal, and community. The end result is
      chicken that’s rich with old school flavor, nutrient dense, and
      environmentally responsible.
    </p>
  </div>
</section>
<style>
  section {
    background: var(--bg1);
    padding: 8rem 0;
    text-align: center;
  }
  h3 {
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: bold;
    margin: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }
</style>
