---
import logo from './logo.jpg'
---
<nav class="nav" >
    <ul class="menus" >
        <li>
            <a href="">MENU</a>
        </li>
        <li>
            <a href="">DEALS</a>
        </li>
        <li>
            <a href="">CATERING</a>
        </li>
        <li>
            <a href="">PROMOS</a>
        </li>
        <li>
            <a href="/" class="logo" >
                <img src={logo.src} alt="Logo">
            </a>
        </li>
        <li>
            <a href="">LOCATIONS</a>
        </li>
        <li>
            <a href="">ABOUT US</a>
        </li>
        <li>
            <a href="">EMPLOYMENT</a>
        </li>
    </ul>
</nav>

<style>
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: white;
}
.nav .menus{
    display: flex;
    justify-content: center;
    gap: 2rem;

}
.nav .menus a{
    display: block;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.8rem;
}
.nav .menus .logo{
    display: block;
    max-width: 20rem;
     padding-top: 0;
}
.nav .menus .logo img{
    display: block;
}

</style>