---

---
<div class="header-top" >
   <div class="container">
 Free Shipping on Orders Over $149
   </div>
  
</div>
<style>
   .header-top{
      background: var(--color-primary);
      color: white;
      text-align: center;
      padding: 1rem 0;
      font-size: 1.8rem;
      font-weight: bold;
   }
</style>